<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:i&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b2f0284777.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Blinker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css?family=Blinker&display=swap" rel="stylesheet">
    <link  rel="stylesheet" type="text/css" href="/stylesheets/signup.css">
    <style>
        
.group 			  { 
    position:relative; 
    margin-bottom:45px; 
  }

  input
   	{
    font-size:18px;
    padding:10px 10px 10px 5px;
    /* display:block; */
    width:80%;
    border:none;
    border-bottom:0.5px solid whitesmoke;
    font-family: 'Poppins', sans-serif;
    background: none;
    color: white;
    
  }
  input:focus 	{ outline:none; }
  
  /* LABEL ======================================= */
  label 				 {
    color:#83f1ff; 
    text-shadow: 2px 2px 3px black;
    font-size:17px;
    font-family: 'Poppins', sans-serif;

    position:absolute;
    pointer-events: stroke;
    left:35px;
    top:5px;
    transition:0.3s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  input:focus ~ label, input:valid ~ label 		{
    top:-15px;
    font-size:14px;
    font-weight: 20px;
    color:rgb(255, 207, 75);
  }
  
  /* BOTTOM BARS ================================= */
.bar 	
{ 
  position:relative; 
  display:block; 
  width:300px; 
}
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }

  #alerte,#alerts
{
    margin-top: 10px;
}

body
{
  background-image: url("https://cdn.shopify.com/s/files/1/1657/8911/articles/sangia-foLbQozs5-4-unsplash_3b25d280-b2b7-49fb-ad37-e43575529a65_2048x.jpg?v=1586196033");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#yclogin
{
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 90px;
  text-shadow: 2px 2px 4px black;

}

#mainc
{
  text-align: center;
  margin-top: 100px;
  margin-left: 100px;
  width: 400px;
  height: 450px;
  background-color:rgba(35, 35, 35,1);
  box-shadow: 2px 2px 7px black;
}

#button
{
  background-color: #83f1ff;
  width: 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  box-shadow: 3px 3px 8px black;
  border: none;
  margin-bottom: 40px;
}

#button:hover
{
  background-color:rgb(255, 207, 75);
     
}

#yclogin
{
  font-size: 40px;
  padding-top: 40px;
  margin-bottom: 30px;
  text-align: center;
  color: rgb(251, 255, 0);

}

#reglink
{
  margin-left: 85px;
  margin-bottom: -20px;
  text-decoration: none;
  color: #fffb00;  
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

#reglink:hover
{
  font-size: 17px;
  transition: 70ms ease-in all;
}
    </style>
    <title>SignUp</title>
</head>
<body>


<div id="mainc" class="container">
<p id="yclogin">Yelp<span style="color: rgb(255, 72, 72);">Camp</span></Camp></p>
<!-- NOTE THE COLOR:RGB(255,72,72) -->
<form action="/register" method="POST">
    <div class="group">
        <input type="text" name="username" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Your New Username</label>
    </div>

    <div class="group">
        <input type="password" name="password" required>            
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Your New Password</label>
    </div>

    <input id="button" type="submit" value="SignUp" class="btn btn-md form-control">

</form>
<a href="/login" id="reglink">Already a Member? Login Now <i class="fas fa-arrow-alt-circle-right"></i></a>
</div>    

</body>
</html>