<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b2f0284777.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400&display=swap" rel="stylesheet">


    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/overall.css">
    <title>YelpCamp</title>
</head>
<body>

        <nav class="navbar navbar-expand-md" id="mainnavbar">
            <div class="container">
            <a href="#" class="navbar-brand"><img src="https://image.ibb.co/cYjoRH/Design.png" width="20px;"> YelpCamp</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#data">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="data">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item ">
                            <a href="#" class="nav-link">About</a>
                        </li>
                        <li class="nav-item ">
                            <a href="#" class="nav-link">Yelp!</a>
                        </li>
                    
                    </ul>
                    <ul class="navbar-nav">
                            <li class="nav-item">
                                    <a href="/register" class="nav-link">Sign Up</a>
                                </li>
                                <li class="nav-item ">
                                    <a href="/login" class="nav-link ">Login</a>
                                </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Signed in as User </a>
                            </li>
                            <li class="nav-item">
                                    <a href="/logout" class="nav-link">Logout</a>
                                </li>
                    
                </ul>
                </div>
            </div>
            </nav>



<div class="container-fluid" id="mainc" style="background-color: black;">
<div style="    font-family: 'Didact Gothic', sans-serif;
color: white;
font-size: 80px;
text-align: center;
padding-top: 200px;
text-shadow: 7px 7px 10px black;">
    Explore New Boundaries!
</div>
</div>
<div class="container-fluid" id="mainc2" style="    background-image: url('http://touchextreme.com/wp-content/uploads/2018/08/camping-BG.jpg');
background-size: cover;
background-attachment: fixed;
background-position: center;
top: 0;
left: 0;
width: 100%;
height: 100%;
margin: 0px;
margin-bottom: 0px;
margin-right: 0px;">
    <p id="indextext">Campgrounds</p>
    <hr id="indexhr">
<div class="container">
        <div class="row">
                    <div class="col-lg-3 col-sm-6" style="margin-right: 0px; margin-bottom: 80px;">
                        <div class="card" style="width: 15rem;" style="    height: 320px;
						background-color: #232322;
						box-shadow: 5px 5px 10px black;">
                            <img src='https://images.pexels.com/photos/699558/pexels-photo-699558.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500' class="card-img-top">
                            <div class="card-body">
                                <p class="card-title"> Manali </p>
                            <i><p id="username"> by Aviral</p></i>
                                <p class="lead">
                                    <a href="#" class="btn btn-outline-warning btn-sm" id="infobutton" style="margin-right: 4px;">About</a>
                                    <button class="btn btn-sm btn-outline-danger"><i class="far fa-heart"></i></button>
                                </p>
                            </div>
                        </div>
                    </div>
            </div>
</div>

</div>

        
<div class="container-fluid" id="mainc3" style="background-color: #232322;">
    <div class="text3">
        Create New Experiences 
    </div>
    <a href="/newcamp" class="btn btn-md btn-outline-info" id="newcbutton">Add a new Campground <i class="fas fa-edit"></i></a>
</div>
</body>
</html>

